{% block header %}
    <div class="header">
        <div class="not-header-links">
            Telemetry Processing
        </div>
        <div class="header-links">
            <a href={{ links.homepage }}>Home</a>
            <a href={{ links.login }}>Login</a>
            <a href={{ links.register }}>Register</a>
        </div>
    </div>
{% endblock %}