body{
    display:flex;
    flex-direction: column;
    margin:0;
}

.content{
    height:100%;
}
/**NAVBAR**/
.header{
    display: flex;
    flex-display: row;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding:1em;
}

.header-links a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.header-links a:hover{
    border-bottom:1px solid white;
}
/**FOOTER**/
.footer{
    position: fixed;
    bottom: 0;
    display:flex;
    justify-content: center;
    color:white;
    width:100%;
    background-color: #00000f;
    padding: 0.5em 0 0.5em 0;
}

/**CONTENT**/
.content{
    padding:2em;
    background-color:ghostwhite;
}

/**HEADING**/
.heading{
    color:black;
    border-bottom:1px solid black;
    width:100%;
}
/**HOMEPAGE**/

.homepage-wrapper{
    background-color:white;
    border:1px solid silver;
}

.homepage-links{
    display:flex;
    flex-direction: row;
}
.homepage-link{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1em;
    padding:.5em;
    background-color:black;
    color:white;
    width:250px;
    height:250px;
}
.homepage-link a{
    text-align: center;
    color:white;
}

.homepage-link a:hover{
    background-color:ghostwhite;
    color:black;
    border:1px solid black;
}

/**LOGIN PAGE**/
.form-elements{
    display: flex;
    padding:1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    border:1px solid silver;
    padding:3em;
    background-color: white;
}
.form-input{
    margin-bottom: 2em;

}
#login-heading{
    text-align: center;
    margin-bottom:1em;
}
.form-elements label{
    font-size: 1.4em;
}

#password{
    padding:1em 3em 1em 0;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid black;
}
#show-password{
    border:none;
    border-bottom: 2px solid black;
    padding:1em 0 1em 0;
    width:0;
    background-color: transparent;

}

.form-input-text{
    padding:1em 0 1em 0;
    background-color: transparent;
    border:none;
    width:100%;
    border-bottom: 2px solid black;
}

.form-input-button{
    display: block;
    width:50%;
    margin:auto;
    border:none;
    padding:1em;
    color:white;
    background-color:black;
}
.form-input-button:hover{
    cursor:pointer;
    background-color: white;
    color:black;
    border:1px solid black;
}
/**MESSAGE- INFO**/
.message-info{
    box-sizing: border-box;
    color:white;
    background-color: deepskyblue;
}
.message-info i{
    margin-right:.3em;
    padding:.5em;
    background-color: #0999c6;
}
.message-info span{
    font-size: .9em;
    text-align: center;
}