{% htmlcompress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="James Brass, Mo Aziz, Ryan Instrell">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ css_file }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Telemetry Processing</title>
</head>
<header>
    {{ block("header", "header.html.twig" )}}
</header>
<body>
{% block content %}{% endblock %}
</body>
<footer>
    {{ block("footer", "footer.html.twig") }}
</footer>
</html>
{% endhtmlcompress %}
