{% extends 'boilerplate.html.twig' %}
    {% block content %}
        <div class="present-page content">
            <h1 class="heading">{{ heading_1 }}</h1>

            <p>{{ result_message }}</p>
        </div>
    {% endblock %}