{% extends 'boilerplate.html.twig' %}
    {% block content %}
        <h3>{{ heading_1 }}</h3>
        <p>Group 21-3110-AF</p>

        <p>{{ result_message }}</p>
        <p><a href="{{ present_telem_action }}">Show Stored Telemetry Data</a></p>

        <p><a href="{{ landing_page }}">Home</a></p>
    {% endblock %}
