{% extends 'boilerplate.html.twig' %}
    {% block content %}
        <div class="login-page content">
            <h1 class="heading">{{ heading_1 }}</h1>

            <form action="{{ login_action }}" method="post">
                <div class="form-elements">
                    <div class="form-wrapper">
                        <h2 id="login-heading">Telemetry Processing</h2>
                        <div class="message-info form-input">
                            <i class="fa fa-info"></i>
                            <span>Enter your details below.</span>
                        </div>
                        <div class="form-input">
                            <label for="username">Username:</label>
                            <br>
                            <input class="form-input-text" id="username" name="username" type="text" placeholder="Username" size="33" maxlength="32" tabindex="1" required>
                            <br><br>
                        </div>
                        <div class="form-input" id="password-input">
                            <label for="password">Password:</label>
                            <br>
                            <input  id="password" name="password" type="password" placeholder="Password" size="30"  size="33" maxlength="32" tabindex="2" required>
                            <button id="show-password" type="button" onclick="maskPassword()"><i class="fa fa-2x fa-eye-slash"></i></button>
                        </div>
                        {#                    <div class="form-input">#}
                        {#                        <label for="showpasword">Show Password?</label>#}
                        {#                        <br>#}
                        {#                        <input class="form-input-check" type="checkbox" name="showpassword" onclick="maskPassword()" value="Show Password">#}
                        {#                        <br><br>#}
                        {#                    </div>#}
                        <div class="form-input">
                            <input class="form-input-button" type="submit" value="Login">

                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    function maskPassword() {
                        let password = document.querySelector('#password');
                        let show_password = document.querySelector('#show-password')
                        if (password.type === "password") {
                            password.type = "text";
                            show_password.innerHTML = "<i class='fa fa-2x fa-eye'>";
                        } else {
                            password.type = "password";
                            show_password.innerHTML = "<i class='fa fa-2x fa-eye-slash' >";


                        }
                    }
                </script>
            </form>
        </div>
    {% endblock %}
